<ul>
<%= form_for @Article, url: article_path(@Article) do |a| %>
  <li>
    <%= a.text_field :title,placeholder:'ユーザー名を入力してくだい' %>
    <% if @Article.errors.messages[:title].any? %>
      <%= @Article.errors.messages[:title][0] %>
    <% end %>
  </li>
  <li>
    <%= a.text_area :body,placeholder:'ツイートを入力してくだい' %>
     <% if @Article.errors.messages[:body].any? %>
      <%= @Article.errors.messages[:body][0] %>
    <% end %>
  </li>
  <li>
    <%= a.submit %>
  </li>
<% end %>
</ul>