<!DOCTYPE html>
<html>
  <head>
    <title>Twiter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

<body>
  <div class="title-box">
    <h1><%= link_to "Kanta's Twiter",articles_path %></h1>
  </div>

  <div class="yield">
    <%= yield %>
  </div>

    <!-- ここからフッターです -->
      <footer>
        <p>@2020 kanta's Twiter  made from rails</p>
      </footer>
</body>

</html>
